#attraction-column {
	background-color: green;
	width: 100%;
	height: 200px;
}


#map-grid {
	background-color: #999999;
}

<<<<<<< HEAD
#theme-logo {
	height: 150px;
	width: 150px;
}
	
=======
// Ted: Keep the grid boxes close to square (1:1 aspect ratio), and handle overflow w/ scroll.
.grid-box-styling {
	border: 1px solid black;
	height: 30vh;
	width: 20vw;
	overflow: scroll;
}
>>>>>>> master
